
header {
    border-bottom: 0.8px solid #c8c8c8;
}
.head-menu {
    display: flex;
    justify-content: space-between;
    /* width: 85%; */
    padding: 0;

}

.cell {
    display: flex;
    justify-content: center;
    width: 94%;
    margin-left: auto;
    margin-right:auto;
}

.cell-1 {
    flex-basis: 30%;
}

.cell-1 img {
    padding-top: 15px;
}


.cell-2 {
    flex-basis: 64%;
    margin-right: 0;
}

ul {
    list-style: none;
}


.menu {
    text-transform: uppercase;  /* 소문자 -> 대문자로 전환 */
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding-top: 4px;
}



.img-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.img-menu .small-menu{
    margin-left: 20px;
    padding-left: 20px;
}

.m-brand:hover {
    color: #e7be8e;
}

.m-brand::before {
    content: '';
    width: 8px; /* 사이즈 */
    height: 8px; /* 사이즈 */
    border-top: 1.5px solid #121212; /* 선 두께 */
    border-right: 1.5px solid #121212; /* 선 두께 */
    display: inline-block;
    transform: rotate(135deg); /* 각도 */
    position: relative;
    left: 80px;
    bottom: 4px;
}

.m-title:hover {
    color: #e7be8e;
    transition: all 0.3s ease;
}


.h-product {
    margin-left: 15px;
}

.m-big {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 13px;
}

.m-middle {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #7a7a7a;
    padding-right:35px;

}
.m-middle:hover {
    transition: all 0.3s ease-in-out;
    color: #e7be8e;
    padding-left: 10px;
}

.m-small {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #7a7a7a;
    width: 50px;

}

.m-small:hover {
    color: #e7be8e;
}

.flex-brand {
    margin-top: 65px;
    width: 99%;
    display: flex;
    justify-content: space-around;
    /* opacity: 0;
    visibility: hidden; */
}



.menu-in {
    margin-left: 60px;
}

.menu li:hover .flex-brand{
    opacity: 1;
    visibility: visible;
}
