body {
    font-family: 'Poppins','NotoSansKR', sans-serif !important;
    font-size: 14px;
    color: #000;

}

a {
    text-decoration: none;
    color: black;
}

header {
    border-bottom: 0.5px solid rgb(207, 207, 207);
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    background:linear-gradient(white 60px, rgba(255, 202, 202, 0.5) 50px, rgba(255, 111, 111, 0.5));
    height: 60px; 

}


ul {
    list-style: none;
}


.cell {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}
    
.cell-1 {
    flex: 3;
    text-align: left; 
     
}


.cell-2 {
    flex: 7;
    text-align: left;
}


.cell-1 img {
    margin-top: 10px;
}

.menu-box {
    display: flex;
}

.menu-box li {   
    flex: 2 1 auto;
    text-transform: uppercase;  /* 소문자 -> 대문자로 전환 */
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding-right: 15px;
}

.menu-box-img {
    display: flex;
    padding: 0;
    margin: 0;
}

.menu-box-img li {
    flex: 1 auto;
    margin: 0;
    margin-right: 20px;

}



.big-menu {
    list-style-type: none;
    display: flex; 
    padding: 0;
    margin: 0; 
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    width: 1000px;
    top: 46.5px;
    left: 2px;
    border: 1px solid rgb(128, 128, 128);
}

.big-menu li {
    font-size: 20px;
    font-weight: bold;
    color: rgb(65, 65, 65);
    margin-top: 50px;
    width: 150px;
}

.middle-menu {   
    margin-top: 20px;
    padding: 0;
}

.middle-menu li {
    font-size: 16px;
    color: rgb(128, 128, 128);
    font-weight: lighter;
    padding: 0;
    margin: 0;
}

.small-menu {
    padding: 0;
    margin-top: 10px;
}

.img-menu {
    padding: 0;
    margin: 0;
}

.small-menu li {
    font-size: 13.5px;
    font-weight: bold;
    color: rgb(128, 128, 128);
    font-weight: lighter;
    padding: 0;
    margin: 0;
}



.menu-text:hover {
    color: #e7be8e;
    transition: all 0.2s;
}

.menu-box li {
    position: relative;
}


.menu-box li:hover .big-menu {
    opacity: 1;
    visibility: visible;
}

.small-menu li:hover {
    color: #e7be8e;
    transition: all 0.2s;
}


.side-menu:hover{
    transition: all 0.3s ease-in-out;
    color: #e7be8e;
    padding-left: 5px;
}

.leftButton {
    transform: rotate(180deg);
    position: relative;
    top: 289px;
    left: 40px;
}
.rightButton {
    float: right;
    position: relative;
    bottom: 360px;
    right: 50px;
}

.BB {
    background: none;
    border: none;
    outline: none;
}

#photo {
    width: 99.8%;
}

.img-change-menu {
    margin: 0;
    padding: 0;
    height: 50px;
    border-bottom: 1px solid  rgba(0,0,0,.3);
}


.img-change-menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 50px;

}


.img-change-menu > ul > button {
    background: none;
    outline:none;
    border: none;
    flex: 2 1 auto;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
    color: rgba(0,0,0,.3);
}

.img-change-menu>ul>button:hover {
    color: rgba(0,0,0);
    transition: all 0.3s;
    border-bottom: 1.2px solid rgba(0,0,0);
}

#photo {
    transition: all 0ms ease 0s;
}

.right-border {
    border-right: rgb(226, 226, 226);
}


